# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
cars1.head()
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:,'mpg':'car']

In [5]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [6]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = pd.concat([cars1,cars2])

In [9]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
own = np.random.randint(low = 15000, high = 73000, size = 398)
own

array([49741, 39727, 33088, 35270, 30048, 34554, 20754, 46850, 35325,
       69137, 34550, 19395, 37893, 17217, 65655, 42737, 33528, 67633,
       28212, 56982, 59532, 66694, 29555, 69296, 25578, 67707, 53083,
       64370, 29029, 42045, 17351, 58808, 18805, 58879, 72669, 52208,
       29986, 63569, 24827, 19236, 55132, 58313, 37505, 17545, 70695,
       59394, 18451, 21675, 21835, 28232, 56329, 67068, 15402, 33439,
       32604, 55840, 59836, 63829, 64570, 60354, 32653, 72888, 47536,
       40704, 57119, 25869, 25875, 65435, 34204, 61374, 38586, 57950,
       51937, 41693, 36464, 60273, 32990, 32677, 19681, 36637, 48691,
       72894, 61345, 61158, 66426, 27813, 36147, 69129, 67575, 18405,
       30815, 50665, 32626, 26357, 66040, 28856, 25810, 57868, 52423,
       30192, 18068, 62474, 27450, 40380, 70323, 67811, 64033, 20723,
       64673, 27444, 67754, 21723, 15044, 27999, 54706, 59325, 72368,
       20520, 57648, 55611, 51339, 44261, 61693, 34174, 32780, 42816,
       55669, 64686, 28510, 63708, 71124, 50542, 38955, 36723, 34781,
       49121, 69223, 32365, 64488, 62914, 31209, 17426, 57786, 58755,
       47207, 39167, 35299, 17308, 54094, 34522, 44076, 53489, 26559,
       26519, 69527, 30682, 33581, 38043, 25702, 20237, 56640, 65143,
       58929, 50244, 44081, 71044, 42590, 70354, 30710, 60828, 70430,
       63177, 23808, 40304, 45675, 50332, 27970, 33951, 52181, 23405,
       53399, 21947, 40121, 58538, 41763, 49279, 34771, 56768, 57611,
       61829, 17356, 55716, 15872, 67267, 38926, 37533, 23350, 37122,
       56777, 48191, 48369, 53558, 49408, 50901, 55509, 53010, 45394,
       32181, 39684, 40007, 17817, 57283, 69019, 49609, 49804, 72780,
       44548, 63245, 37542, 27416, 27822, 55208, 42811, 62730, 54028,
       53393, 48194, 44133, 72189, 36037, 42460, 35797, 49499, 17263,
       69714, 24287, 69303, 35914, 47086, 43316, 24048, 30722, 70387,
       46094, 69985, 33470, 29582, 20603, 37143, 58225, 46891, 41489,
       31709, 59440, 18441, 61106, 15271, 62714, 20908, 17389, 43413,
       26053, 56141, 59679, 54251, 69256, 66304, 36666, 27622, 24474,
       29061, 49475, 68903, 54519, 62463, 16039, 63169, 23111, 71051,
       24575, 18348, 20916, 35270, 55147, 51568, 48945, 40059, 66573,
       31091, 54846, 48752, 30800, 37020, 53924, 33226, 43301, 42837,
       39507, 19173, 15626, 72866, 15471, 65662, 68052, 39943, 23681,
       31564, 51959, 66858, 18339, 28464, 66800, 63645, 28236, 44805,
       67165, 27032, 29473, 36554, 61502, 47004, 44368, 56814, 59832,
       28235, 18572, 15047, 23595, 34739, 41927, 41235, 69252, 53676,
       57952, 41549, 71948, 48568, 63006, 19859, 28221, 17079, 70448,
       21659, 45857, 15604, 33028, 34770, 55481, 64577, 55917, 51180,
       33022, 45608, 71837, 34321, 44730, 23728, 59924, 46853, 41819,
       39670, 46157, 44532, 53756, 27924, 38940, 42327, 28995, 41157,
       38693, 28035, 35885, 41955, 41440, 22690, 34039, 34106, 39717,
       49869, 55323, 26705, 61829, 21288, 38659, 56820, 58655, 29919,
       16493, 72912, 49154, 32211, 72875, 63704, 27775, 47867, 32432,
       40765, 41791])

### Step 8. Add the column owners to cars

In [11]:
cars['owner'] = own
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,49741
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,39727
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,33088
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35270
4,17.0,8,302,140,3449,10.5,70,1,ford torino,30048
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,27775
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,47867
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,32432
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,40765
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,41791