# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [31]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
res = []
for sub in test_list:
    if res and res[-1][0] == sub[0]:
        res[-1].extend(sub[1:])
    else:
        res.append([ele for ele in sub])
res = list(map(tuple, res))

# printing result
print("The extracted elements : " + str(res))

# Alternative Approach:

The extracted elements : [(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [28]:
# write your code here
test_tup = (1,5,7,8,10)
result = tuple()
for i in range(len(test_tup)):
    if(i-1 >=0 and i+1 < len(test_tup)):
        result += ((test_tup[i] * (test_tup[i-1] + test_tup[i+1])),)
    elif( i-1 < 0 and i + 1 < len(test_tup)):
        result += ((test_tup[i]*test_tup[i+1]),)
    elif(i-1>=0 and i+1 >= len(test_tup)):
        result += ((test_tup[i]*test_tup[i-1]),)
    else:
        result += (test_tup[i],)
print(result)

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [8]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
print(t1==t2)

False

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [6]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
freq = {"List":0,"Set":0,"Tuples":0}
for i in list1:
    if(type(i)==set):
        dt = 'Set'
    elif(type(i)==list):
        dt = 'List'
    else:
        dt = 'Tuples'
    freq[dt]+=1
for key,value in freq.items():
    print(key," - ",value)

List  -  2
Set  -  2
Tuples  -  1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [15]:
# write your code here
records = int(input("Enter Number of records - "))
stu_records = []
flag = 0
for i in range(records):
    print("Enter Details of Student - ",i+1)
    name = input("Enter Student name -")
    higher_Edu = input("Enter Higher Education -")
    Primary_Skill = input("Enter Primary Skill -")
    YOG = eval(input("Enter Year of Graduation - "))
    stu_records.append(tuple((name,higher_Edu,Primary_Skill,YOG)))
print("\nEnter Job Role Requirement")
skill = input("Enter Skill - ")
HEdu = input("Enter Higher Education -")
yog = eval(input("Enter Year of Graduation - "))

for i in stu_records:
    if(skill == i[2] and HEdu == i[1] and yog == i[-1]):
        flag = 1
        print(i)
if(not flag):
    print("No such Candidate")

Enter Number of records -  1

Enter Details of Student -  1

Enter Student name - Anshul
Enter Higher Education - MCA
Enter Primary Skill - Python
Enter Year of Graduation -  2025

Enter Job Role Requirement

Enter Skill -  Python
Enter Higher Education - MCA
Enter Year of Graduation -  2022

No such Candidate

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [4]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
list(set(ar1).intersection(set(ar2).intersection(set(ar3))))

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [6]:
# write your code here
str1 = input("Enter a string: ")
vowels = "aeiouAEIOU"
result  = set()
for i in str1:
    if i in vowels:
        result.add(i)
print("No of unique vowels - ",len(result))

Enter a string:  hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX

No of unique vowels -  6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [15]:
# write your code here
str1 = input("Enter a string: ")
# print(sorted(set(str1)))
if(sorted(set(str1)) == ['0','1']):
    print("Yes")
else:
    print("No")

Enter a string:  10101010

Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [3]:
# write your code here
lst = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

result = set()
for i in range(0,len(lst)):
    result = result.union(set(lst[i]))
print(list(result))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [7]:
# write your code here
lst1 = eval(input("Enter first List: "))
lst2 = eval(input("Enter second list: "))
result = [set(lst1).intersection(set(lst2))]
print(result)

Enter first List:  [1]
Enter second list:  [2]

[set()]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [14]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
maxx = 0;
result = ""
for key in test_dict:
    if (len(set(test_dict[key])) > maxx):
        result = key
        maxx = len(set(test_dict[key]))
print(result)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [28]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
result = ""
for i in test_str.split():
    if(repl_dict.get(i)!= None):
        result+=repl_dict[i]
    else:
        result+=i
    result += " "
print(result)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [59]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
result = []
for i in range(0,len(test_list),len(key_list)):
    my_dict = {}
    for j in key_list:
        my_dict[j] = test_list[i]
        i+=1
    result.append(my_dict)
print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [32]:
# write your code here
lot  = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict = {}
for i in lot:
    dict[i[0]] = [i[1]]
print(dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [50]:
# write your code here
my_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
sorted_list = sorted(my_dict.items())
sorted_dict = {}
for key,value in sorted_list:
    sorted_dict[key] = sorted(value)
print(sorted_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}