## Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
# import dataset
df = pd.read_csv("startup_funding.csv")

In [3]:
df

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

## DATA CLEANING

* Dropping Remarks Columns
* set Sr No as Index
* Remaining Column
* Working with amount Column
  - Filling in Missing values
  - Converting the Datatype to Float
  - Making USD to INR Cr.
* Converting Date Columns to DateTime DataType
* Dropping missing values

In [5]:
# Dropping 'Remarks' columns -> 90% data is missing so not very usefull
df.drop('Remarks',axis = 1,inplace=True)

In [6]:
# Making Sr.No Columns as index
df.set_index('Sr No',inplace=True)

In [7]:
# Renaming Column as per our convenience
df.rename(columns = {
    'Date dd/mm/yyyy':'date',
    'Startup Name':'startup',
    'Industry Vertical':'vertical',
    'SubVertical':'subvertical',
    'City  Location':'city',
    'Investors Name':'investors',
    'InvestmentnType':'round',
    'Amount in USD':'amount'
}, inplace = True)

In [8]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [9]:
# Working on amount column
# 1. Filling missing values to 0 (undisclosed)
df['amount'] = df['amount'].fillna('0')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3044 non-null   object
 1   startup      3044 non-null   object
 2   vertical     2873 non-null   object
 3   subvertical  2108 non-null   object
 4   city         2864 non-null   object
 5   investors    3020 non-null   object
 6   round        3040 non-null   object
 7   amount       3044 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [11]:
# now we have all the values in amount column.
# we have , & undisclosed as values in amount column firstly we need to treat them before converting it to int/float
# df['amount'].unique()
df['amount'] = df['amount'].str.replace('undisclosed', '0')
df['amount'] = df['amount'].str.replace('unknown', '0')
df['amount'] = df['amount'].str.replace('Undisclosed', '0')
df['amount'] = df['amount'].str.replace(',', '')

In [12]:
# we have some values in amount columns as 12301212+, So we neglect those
df = df[df['amount'].str.isdigit()]

In [13]:
df['amount'] = df.amount.astype('float')

/var/folders/n2/xblt95t12h7cjhv3hf2dtsw00000gn/T/ipykernel_47631/1895721538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'] = df.amount.astype('float')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3029 non-null   object
 1   startup      3029 non-null   object
 2   vertical     2858 non-null   object
 3   subvertical  2104 non-null   object
 4   city         2849 non-null   object
 5   investors    3005 non-null   object
 6   round        3027 non-null   object
 7   amount       3029 non-null   float64
dtypes: float64(1), object(7)
memory usage: 213.0+ KB

In [15]:
# Now converting USD to INR cr.
df['amount'] = df['amount'].map(lambda X: X * 82.5 / 10000000)

/var/folders/n2/xblt95t12h7cjhv3hf2dtsw00000gn/T/ipykernel_47631/2779738468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'] = df['amount'].map(lambda X: X * 82.5 / 10000000)

In [16]:
# Converting datatype of datetime columne
df['date'] = pd.to_datetime(df['date'],errors="coerce")

/var/folders/n2/xblt95t12h7cjhv3hf2dtsw00000gn/T/ipykernel_47631/3513838611.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'],errors="coerce")

In [17]:
# Removing missing values
df.isnull().sum()

date           1746
startup           0
vertical        171
subvertical     925
city            180
investors        24
round             2
amount            0
dtype: int64

In [18]:
df.dropna(how = 'any', axis = 0, subset = ['vertical', 'city', 'investors', 'round'],inplace = True)

/var/folders/n2/xblt95t12h7cjhv3hf2dtsw00000gn/T/ipykernel_47631/3283958790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(how = 'any', axis = 0, subset = ['vertical', 'city', 'investors', 'round'],inplace = True)

In [20]:
# Cleaning investors columns
all_investors = []
def preprocess_investors(investors: str) -> list:
    lst = investors.lower().split(", ")

    # Removing unwanted things
    temp = []
    for investor in lst:
        processed = "".join([c for c in investor if c.isalnum() or c == " "])
        temp.append(processed.strip())
    all_investors.append(temp)

df['investors'].apply(preprocess_investors)
df['investors'] = all_investors
df.head()

/var/folders/n2/xblt95t12h7cjhv3hf2dtsw00000gn/T/ipykernel_47631/225080649.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['investors'] = all_investors

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,[tiger global management],Private Equity Round,1650.000000
2,NaT,Shuttl,Transportation,App based shuttle service,Gurgaon,[susquehanna growth equity],Series C,66.399250
3,2020-09-01,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,[sequoia capital india],Series B,151.460595
4,2020-02-01,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,[vinod khatumal],Pre-series A,24.750000
5,2020-02-01,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,[sprout venture partners],Seed Round,14.850000

In [49]:
# All investors
df['investors']

Sr No
1                               [tiger global management]
2                             [susquehanna growth equity]
3                                 [sequoia capital india]
4                                        [vinod khatumal]
5                               [sprout venture partners]
                              ...
2869                                      [saif partners]
2870    [sumit jain, aprameya radhakrishna, alok goel,...
2871                                         [rainmatter]
2872                                        [the hr fund]
2873           [bessemer venture partners, saif partners]
Name: investors, Length: 2823, dtype: object

## Investor POV Analysis

- Recent Investment
- Biggest Investment
- Sector Investment
- City Investment
- Round Investment
- YoY Investment

In [70]:
def biggest_investment(investor):
    all_investment = recent_investments(investor)
    return all_investment.groupby('startup')['amount'].sum().sort_values(ascending = False)
biggest_investment('idg ventures')

startup
Cure Fit                 990.0000
Lenskart                 495.0000
CureFit                  206.2500
Curefit                  123.7500
Fintellix                123.7500
Uniphore                  72.6000
\\xc2\\xa0CloudCherry     49.5000
Sigtuple                  47.8500
Flyrobe                   43.7250
Agrostar                  33.0000
Bizongo                   24.7500
Heckyl                    22.2750
eShakti                   18.9750
mPaani                    11.1375
Hansel.io                 11.1375
PipeCandy                  9.0750
Pluss                      8.2500
CityFlo                    6.1875
Infisecure                 4.9500
Unbxd                      0.0000
Mobiliz AR                 0.0000
Name: amount, dtype: float64

In [76]:
def investor_sector_distribution(investor):
    all_investment = recent_investments(investor)
    return all_investment.groupby('vertical')['amount'].sum().sort_values(ascending=False)
investor_sector_distribution('bessemer venture partners')

vertical
Consumer Internet                     3737.25
Online & mobile Grocery store          412.50
Technology                             262.35
eCommerce                              148.50
Online Travel Marketplace               66.00
Mobile App testing platform              9.90
Video Intelligence Platform              8.25
On Demand Beauty Services Platform       0.00
Name: amount, dtype: float64

In [77]:
def investor_city_distribution(investor):
    all_investment = recent_investments(investor)
    return all_investment.groupby('city')['amount'].sum().sort_values(ascending=False)
investor_city_distribution('bessemer venture partners')

city
Bengaluru    2534.40
Bangalore    1522.95
Gurgaon       173.25
Noida         156.75
Mumbai        148.50
Gurugram       99.00
Hyderabad       9.90
Name: amount, dtype: float64

In [80]:
def investor_stage_distribution(investor):
    all_investment = recent_investments(investor)
    return all_investment.groupby('round')['amount'].sum().sort_values(ascending=False)
investor_stage_distribution('bessemer venture partners')

round
Private Equity    4634.85
Seed Funding         9.90
Name: amount, dtype: float64

In [82]:
# Year on Year investment
def yoy_investment(investor: str):
    all_investments = recent_investments(investor)
    grouped_obj =  all_investments.groupby(by = all_investments['date'].dt.year)['amount'].sum().to_frame()
    grouped_obj.index = grouped_obj.index.astype(np.int64)
    return grouped_obj

yoy_investment("sequoia capital india")

           amount
date
2016   552.750000
2017  2194.500000
2018   215.985000
2019   495.000000
2020   151.460595

## Overall / General Analysis

-

In [84]:
# Total invested account
round(df['amount'].sum())

296497

In [90]:
# Maximum amount raised and by which startup
df[df['amount'] == df['amount'].max()][['startup','amount']]

                startup   amount
Sr No
61     Rapido Bike Taxi  32175.0

In [91]:
# total startups
df['startup'].nunique()

2300

In [94]:
# Month by Month chart of total amount and total funding counts
def mom_total_funding():
    # Creating year and month column
    temp_df = df.copy()
    temp_df['year'] = df['date'].dt.year
    temp_df['month'] = df['date'].dt.month

    # Grouping
    grouped_obj = temp_df.groupby(by = ['year', 'month'], sort = True)
    total_funding = grouped_obj['amount'].sum().to_frame()
    count_funding = grouped_obj['amount'].count()

    total_funding['count'] = count_funding
    return total_funding

mom_tf = mom_total_funding()
mom_tf

                   amount  count
year   month
2015.0 1.0    5274.637500     35
       2.0    1567.178250     14
       3.0    1910.658750     36
       4.0    1936.646250     21
       5.0     817.863750     22
...                   ...    ...
2019.0 11.0   1153.350000      5
       12.0   1233.375000      5
2020.0 2.0      39.600000      2
       9.0    1801.460595      2
       10.0   1237.500000      1

[62 rows x 2 columns]